* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header{
    text-align: center;
    background-color: peru;
    padding: 55px;
    
   
    
}
nav{
    display: block;
    background-color: lightgreen;
    padding: 10px;
    float: left;
    width: 30%;
    height: 400px;
    
}
nav ul{
    list-style-type: none;
    
    
}
nav  a{
    text-decoration: none;
    
    
}
nav li{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 25px;

}
footer{
    text-align: center;
    background-color:blueviolet;
    padding: 55px;
    margin-top: auto;
}
.content {
    display: none;
    padding: 20px;
    background-color: darkgray;
    height:400px ;
    
    
}

.content:target {
    display: block;
    margin-left: 0;
}