*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: left;
    padding: 50px;
}
body{
    background-image:"background.jpg";
    background-repeat: no-repeat;
    background-size: cover;
}
nav ul li{
    display: inline;
    list-style-type:none;
    
}
header nav{
    text-align: right;
}
nav ul li a{
    text-decoration: none;
}